<template>
    <div>
        <div class="upload-file">
            <vue-dropzone ref="myVueDropzone"
                          id="dropzone"
                          :options="dropzoneOptions"
                          @vdropzone-file-added="fileAdded"
                          @vdropzone-sending="fineSending"
                          @vdropzone-upload-progress="fileUploadProgress"
                          @vdropzone-success="fileSuccess"
                          @vdropzone-complete="fileComplete"
                          @vdropzone-error="error"
                          @vdropzone-removed-file="removedFile" />

            <div class="progress-bar" role="progressbar" v-if="showProgressBar"
                 aria-valuemin="0" aria-valuemax="100" :style="{width: uploadPercentage + '%'}" >
            </div>
        </div>
    </div>
</template>

<script>
    import vue2Dropzone from 'vue2-dropzone';
    import DropzoneSetting from './mixins/dropzone-setting';

    export default {
        data() {
            return {
                imageRaw: null,
                errorMessage: '',
                loading: false
            }
        },
        mixins: [DropzoneSetting],
        components: {
            vueDropzone: vue2Dropzone
        },
        methods: {
            fileAdded(file) {
                this.showProgressBar = true;
            },
            fineSending(file, xhr, formData) {
                formData.append('file', file);
            },
            fileUploadProgress(file, progress, bytesSent) {
                this.dzProgress(progress);
            },
            fileSuccess(file, response) {
                // process.env.VUE_APP_HOST + response.uri;
                this.$emit('getImageUrl', response.uri);
            },
            fileComplete(file) {
                this.resetProgressBar();
            },
            removedFile(file) {
                if (file) {
                    this.$emit('removedFile', true);
                } else {
                    this.$emit('removedFile', false);
                }
            },
            dzProgress(progress) {
                this.uploadPercentage = progress;
            },
            resetProgressBar() {
                //remove progress bar when image uploaded success/fail
                this.showProgressBar = true;
                this.uploadPercentage = 0;
            },
            error(file, message, xhr){
                if (message.code === 500) {
                    this.errorMessage = 'Max file size must be less than 10MB';
                } else {
                    this.errorMessage = message;
                }

            }
        }
    }
</script>

<style>
    .answer4 {
        display: none;
    }

    .textActive .answer4 {
        display: block;
    }
</style>

