<template>
  <div id="app">
    <uploader @getImageUrl="getImageUrl" />
  </div>
</template>

<script>
  import Uploader from './uploader';

export default {
    name: 'app',
    data () {
        return {
          msg: 'Welcome to Your Vue.js App'
        }
    },
    components: {
        'uploader': Uploader
    },
    methods: {
        getImageUrl(value) {
            console.log(value)
        },
        removedFile(value) {
            console.log(value)
        }
    }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
